.home-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}

.home-text {
    padding-top: 3vh;
    font-family: ubuntu;
}

.home-text h1 {
    font-size: 2.5em;
}

.home-text h3 {
    margin-top: 3vh;
    line-height: 1.5;
}

.home-links {
    display: flex;
}

.home-links a {
    margin-top: 10vh;
}


.img-home {
    object-fit: contain;
    padding: 0;
}


@media (max-width:740px) {
    .home-links {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .img-home {
        width: 28vw;
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:740px) {
    .home-links {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .img-home {
        width: 13vw;
    }
}