.main-notes {
    text-align: center;
    background-color: var(--clr-bg);
    position: relative;
}

.notes-container {
    display: flex;
    justify-content: space-between;
}


.note-section {
    width: 90%;
}  
