
:root {
    /* PALETTE */
    --clr1: #ffff;
    /* bgc */
    --clr-bg:#f6f8fc;
    /* background-color for unread msg */
    --clr2: #f2f6fc;
    /* txt color */
    --clr3-txt: #202124;
    /* side bar background-color */
    --clr4: #f6f8fc;
    --clr5 : #c2e7ff;
    --clr-notebg: #e8eaed;
    --clr-active:  #bababa;

    /* LABELS */
    --labelSocial: #1a73e8;
    --labelPromsion : #188038;
}
    /* TYPOGRAPHY */
   


