body {
    margin: 0;
}

*{
    box-sizing: border-box;
}

html {
    background-color: var(--clr-bg);
    font-size: 14px;
    text-align: start;
    font-family: Google Sans, roboto, Helvetica, Arial, sans-serif;
}

.main-layout > *:not(.full) {
    margin-left: 20px;
    margin-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,button,label{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

select{
    background-color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width:740px){
    .main-layout > *:not(.full) {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (min-width:980px){
    .main-layout > *:not(.full) {
        margin-left: 80px;
        margin-right: 80px;
    }
}
