header {
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav img.img-menu{
    width: 2.5em;
    margin: 0 1em;
}

