.search-bar.mail {
    margin: 0;
    width: 80%;
}

.msgs-status {
    display: flex;
}

.unread-msg {
    position: absolute;
    right: 0px;
    font-size: 2em;
}

.unread-msg p {
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: .4em;
    background-color: rgb(63, 63, 63);
    padding: 3px 6px;
    border-radius: 50%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.toogle-filter {
    position: absolute;
    right: 30px;
    width: 75px;
    height: 20px;
    margin-top: 5px;
}