.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar.mail {
    margin: 5px 0;
    margin-inline-end: 10px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.search-bar.mail label {
    flex: 1;
}

.msgs-status {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.unread-msg {
    position: relative;
    right: 0px;
    font-size: 1.8em;
}

.unread-msg p {
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: .4em;
    background-color: rgb(63, 63, 63);
    padding: 3px 6px;
    border-radius: 50%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.toggle-filter,
.search-filters select {
    outline: none;
    border: unset;
    min-width: 70px;
    background-color: #eaf1fb;
    border-radius: 10px;
    font-weight: bold;
    padding: 12px 12px;
}

.search-filters {
    margin-left: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

@media (max-width:740px) {
    .toggle-filter {
        font-size: 16px;
    }
}