.main-mail {
    display: flex;
    width: 100%;
}

td:hover{
    cursor: pointer;
}

table {
    padding-inline-start: 45px;
    flex-grow: 2;
    background-color: var(--clr6);
}

.starred {
    color: gold;
}

tr.unread {
    background-color: var(--clr2);
}

