.note-add {
    background-color: var(--clr-bg);
    padding: 1em 1em 0 ;
    border: 2px solid var(--clr1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-add-input {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.note-add-input input {
    background-color: var(--clr1);
    padding: 10px 0;
}

.note-add-input input.title {
    margin-bottom: 10px;
}

.note-add-btns {
    display: flex;
    align-self: center;
}

.note-add-btns button {
    padding: 8px 6px;
    margin: 0 10px;
}

.note-add-btn {
    grid-column: 1 span 4;
    width: fit-content;
    align-self: center;
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
    margin-top: 10px;
    border-radius: 10px;
}