.note-add {
    background-color: var(--clr1);
    padding: 1em;
}


.note-add-input {
    width: 100%;
}

.note-add-btn {
    margin: 4px;
}

.note-add-btn {
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
    padding: 5px 8px;
    border-radius: 10px;
}