.note-filter{
    display: flex;
    flex-direction: column;
    left: 0;
    margin-bottom: 10px;
    background-color: var(--clr1);
    justify-content: start;
    padding: 5px 0;

}

.note-filter >*{
    padding: 10px 0;
}

.search-bar{
    display: inline;
    width: 70%;
    margin: 0 auto;
}

.search-bar input{
    width: 60%;
}
