.menu-btn span{
font-size: 1.7em;
color: grey ;
}

.note-filter {
    position: absolute;
    top: 12.5%;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(255 255 255 / 100%);
    border-inline-start: 1px solid #ccc;
    min-width: 200px;
    transform: translateX(-100%);

    transition: transform .6s, box-shadow .6s;
}

.note-filter.menu-open{
    display: flex;
    transform: translateX(0);
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
}

.close-menu{
    position: absolute;
    right: 5px;
    font-size: 1.5em;
    color: grey ;
}

.note-filter>* {
    padding: 10px 0;
}

.search-bar {
    padding-top: 30px;
    display: inline;
    width: 70%;
    margin: 0 auto;
}

.search-bar input {
    width: 60%;
}