.note-preview {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 25%;
   background-color: var(--clr-notebg);
   margin: 10px 0;
}


.note-preview:hover .note-btns {
   opacity: 0.8;
}

.note-preview .note-btns {
   opacity: 0;
}

.note-preview img {
   height: 200px;
   object-fit: cover;
}

.note-btns button {
   cursor: pointer;
}

button.pin {
   color: rgb(247, 214, 0);
}

@media (max-width:740px){
   .note-preview {
      width: 40%;
   }  
}
@media (min-width:740px){
   .note-preview {
      width: 30%;
   }  
}
@media (min-width:980px){
   .note-preview {
      width: 25%;
   }  
}