.user-msg {
    background-color:#323232    ;
    color: whitesmoke;
    padding: 0.5em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-weight: 700;
    z-index: 2;
    border-radius: 10px;
}


.user-msg button{
    float: right;
    margin: 0.5em;
    color: white;
    font-weight: 700;
}